{% extends "main/main_layout.html" %} {% block content %}
<!-- main-area -->
<main>
    <style>
        .s-breadcrumb-bg {
            background-image: url({{url_for('static',filename='/img/bg/quote_bg.jpg')}});
        }
    </style>
    <!-- breadcrumb-area -->
    <div class="breadcrumb-area breadcrumb-bg s-breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="dots"></li>
                                <li class="breadcrumb-item"><a href="#">Aircargo</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Tracking</li>
                                <li class="dots2"></li>
                            </ol>
                        </nav>
                        <h2>Aircargo Tracking</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <!-- category-area -->
    <section class="category-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="category-list s-category-list">
                        <ul>
                            <li>
                                <a href="#">
                                    <div class="category-icon">
                                        <i class="flaticon-cruise"></i>
                                    </div>
                                    <h5>Sea Freight</h5>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="category-icon">
                                        <i class="flaticon-air-freight"></i>
                                    </div>
                                    <h5>Air Freight</h5>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="category-icon">
                                        <i class="flaticon-delivery-1"></i>
                                    </div>
                                    <h5>Insurance</h5>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="category-icon">
                                        <i class="flaticon-warehouse"></i>
                                    </div>
                                    <h5>Warehousing</h5>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="category-icon">
                                        <i class="flaticon-package"></i>
                                    </div>
                                    <h5>Forwarding</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- category-area-end -->

    <!-- tracking-area -->
    <div class="tracking-area pt-95 pb-115">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <div class="tracking-id-info text-center">
                        <p>Enter Tracking Code for Aircargo <a href="#">Tracking Number</a></p>
                        <form action="" class="tracking-id-form" method="post">
                            {{AircargoTrackingForm.hidden_tag()}} 
                            {{AircargoTrackingForm.tracking_number(class="form-contro ", placeholder="Tracking Number")}}
                            <button class="btn red-btn" type="submit">Tracking</button>
                        </form>
                        <div class="tracking-list">
                            <ul>
                                <li>
                                    <div class="tracking-list-icon">
                                        <i class="flaticon-box"></i>
                                    </div>
                                    <div class="tracking-list-content">
                                        <p>Dispatch</p>
                                    </div>
                                </li>
                                <li class="active">
                                    <div class="tracking-list-icon">
                                        <i class="flaticon-warehouse"></i>
                                    </div>
                                    <div class="tracking-list-content">
                                        <p>departed country</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tracking-list-icon">
                                        <i class="flaticon-placeholder"></i>
                                    </div>
                                    <div class="tracking-list-content">
                                        <p>Destination</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tracking-list-icon">
                                        <i class="flaticon-audit"></i>
                                    </div>
                                    <div class="tracking-list-content">
                                        <p>Successful</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tracking-help">
                            <p>MULTIPLE TRACKING NUMBERS | <a href="#">NEED HELP?</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tracking-area-end -->

    <!-- services-area -->
    <section class="services-area delivery-bg inner-help-bg pt-110 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-10">
                    <div class="s-section-title text-center mb-60">
                        <h2>Why Choose Us?</h2>
                        <p>
                            Our dedication to quality, security, and customer satisfaction sets us apart. We leverage our expertise and advanced technology to provide solutions that meet the highest standards. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="services-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="s-single-services mb-50">
                            <div class="services-thumb mb-25">
                                <a href="#"><img src="{{url_for('static',filename='img/images/services_details_img.jpg')}}" alt="img" style="height: 250px;"></a>
                            </div>
                            <div class="s-services-content">
                               
                                <h3><span> Can I track my cargo in real-time?</span></h3>
                                <p>
                                    Yes, Noble Services provides real-time tracking for your cargo using the tracking number provided at the time of booking. Our tracking system offers up-to-date information on the status and location of your shipment.
                                </p>
                                <a href="{{url_for('main.contact_us')}}" class="btn red-btn">LET US HELP</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="s-single-services mb-50">
                            <div class="services-thumb mb-25">
                                <a href="#"><img src="{{url_for('static',filename='img/slider/blog_thumb01.jpg')}}" alt="img" style="height: 250px;"></a>
                            </div>
                            <div class="s-services-content">

                               <h3><span>Do you offer international shipping services?</span></h3> 
                                <p>
                                    Yes, Noble Services provides international shipping services for air cargo, container cargo, and parcels. We handle shipments to and from various countries, ensuring compliance with international shipping regulations and customs requirements.
                                </p>
                                <a href="{{url_for('main.contact_us')}}" class="btn red-btn">LET US HELP</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="s-single-services mb-50">
                            <div class="services-thumb mb-25">
                                <a href="#"><img src="{{url_for('static',filename='img/images/s_services_img03.jpg')}}" alt="img" style="height: 250px;"></a>
                            </div>
                            <div class="s-services-content">
                                <h3><span>How do I prepare my cargo for shipping?</span></h3>
                                <p>
                                    Proper preparation is key to ensuring that your cargo arrives safely. Noble Services provides guidelines for packaging and labeling your goods. For container and air cargo, ensure that items are securely packed, labeled correctly, and meet any specific requirements for the mode of transport.
                                </p>
                                <a href="{{url_for('main.contact_us')}}" class="btn red-btn">LET US HELP</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- main-area-end -->
{% endblock content %}