<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"> {% if title %}
    <title>Noble | {{title}}</title>
    {% else %}
    <title>Noble Shipping Company</title>
    {% endif %}
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/animate.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/magnific-popup.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/fontawesome-all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/aos.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/nice-select.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/flaticon.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/meanmenu.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/slick.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/default.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/responsive.css')}}">


    <!--? SWEET ALERTS -->
    <script src="{{url_for('static',filename='/niceadmin/js/sweetalert2@11.js')}}"></script>
</head>

<body>
    <style>
        .swal2-title {
            color: #0e0e23 !important;
        }
        
        body.swal2-toast-shown .swal2-container {
            box-sizing: border-box;
            width: 473px;
            max-width: 100%;
            background-color: rgba(0, 0, 0, 0);
            pointer-events: none;
        }
        
        .swal2-popup {
            width: 145% !important;
            display: inherit !important;
        }
        
        .swal2-popup.swal2-toast>* {
            grid-column: none;
            grid-column: unset;
        }
        
        .sidebar-nav .nav-link i:hover {
            color: #495bf1 !important;
            background: #8244f0 !important;
        }
    </style>
    <!--! SWEET ALERT MESSAGES -->
    <div class="container-scroller">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
        <small class="text-center  text-dark"> 
                    {% if category == 'success' %} 
                    <script>
                    Swal.fire({
                            title: "{{message}}",
                            text: "{{ session['success']}}",
                            backdrop: 'swal2-backdrop-show',
                            icon: "success",
                            toast: true,
                            position: "top-right",
                        })    
                    </script>
                    {% elif category == 'error' %} 
                    <script>
                        Swal.fire({
                            title: "{{message}}",
                            text: "{{ session['error']}}",
                            backdrop: 'swal2-backdrop-show',
                            icon: "error",
                            toast: true,
                            position: "top-right",
                        })
                    </script> 
                        {% elif category == 'notice' %} 
                        <script>
                            Swal.fire({
                                title: "{{message}}",
                                text: "{{ session['notice']}}",
                                backdrop: 'swal2-backdrop-show',
                                icon: "notice",
                                toast: true,
                            })
                        </script>
                    {% endif %} 
            </small> {% endfor %} {% endif %} {% endwith %}
    </div>
    <!--! SWEET ALERT MESSAGES ENDED -->
    <!-- preloader  -->
    <!-- <div id="preloader"> -->
    <!-- <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="E" class="letters-loading">
                            E
                        </span>
                    <span data-text-preloader="C" class="letters-loading">
                            C
                        </span>
                    <span data-text-preloader="H" class="letters-loading">
                            H
                        </span>
                    <span data-text-preloader="O" class="letters-loading">
                            O
                        </span>
                    <span data-text-preloader="L" class="letters-loading">
                            L
                        </span>
                    <span data-text-preloader="O" class="letters-loading">
                            O
                        </span>
                    <span data-text-preloader="G" class="letters-loading">
                            G
                        </span>
                    </span>
                    <span data-text-preloader="I" class="letters-loading">
                            I
                        </span>
                    </span>
                    <span data-text-preloader="S" class="letters-loading">
                            S
                        </span>
                    <span data-text-preloader="T" class="letters-loading">
                            T
                        </span>
                    <span data-text-preloader="I" class="letters-loading">
                            I
                        </span>
                    <span data-text-preloader="C" class="letters-loading">
                            C
                        </span>
                    <span data-text-preloader="S" class="letters-loading">
                            S
                        </span>
                </div>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- preloader end -->

    <!-- header-start -->
    <header>
        <div class="header-top-wrap purple-bg d-none d-md-block">
            <div class="container-fluid header-container-p">
                <div class="row">
                    <div class="col-xl-6 col-lg-7 col-md-6">
                        <div class="header-contact">
                            <ul>
                                <li><i class="fas fa-headphones"></i>Call us +231-770-961-810</li>
                                <li><i class="far fa-envelope"></i> info@nobleshipping.com
                                </li>
                                <li><i class="fas fa-map-marker"></i>ELWA Paynesville City, Liberia</li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-6">
                        <div class="header-top-right d-flex justify-content-end align-items-center">
                            <div class="header-country">
                                <form action="#">
                                    <select name="name" class="selected">
                                            <option value="">USA</option>
                                            <option value="">South Africa</option>
                                            <option value="">Nigeria</option>
                                            <option value="">UK</option>
                                            <option value="">China</option>
                                        </select>
                                </form>
                            </div>
                            <div class="header-social">
                                <ul>
                                    <li>Follow us :</li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="header-sticky" class="main-header">
            <div class="container-fluid header-container-p">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="logo">
                            <a href="index.html"><img src="{{url_for('static',filename='img/Noble-Shipping-logo.png')}}" class="mobile-logo" alt="Logo" style="width: 250px;"></a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-6 d-none d-md-block">
                        <div class="menu-area">
                            <div class="main-menu">
                                <nav id="mobile-menu">
                                    <ul>
                                        {% if title == 'home' %}
                                        <li class="active"><a href="{{url_for('main.index')}}">Home</a></li>
                                        <li><a href="{{url_for('main.air_cargo_tracking')}}">Aircargo Tracking</a></li>
                                        <li><a href="{{url_for('main.container_tracking')}}">Container Tracking</a></li>
                                        <li><a href="{{url_for('main.our_services')}}">Our Services</a></li>
                                        <li><a href="{{url_for('main.about_us')}}">About Us</a></li>
                                        <li><a href="{{url_for('main.contact_us')}}">Contact Us</a></li>

                                        {% elif title == 'Air Cargo Tracking' %}
                                        <li><a href="{{url_for('main.index')}}">Home</a></li>
                                        <li class="active"><a href="{{url_for('main.air_cargo_tracking')}}">Aircargo Tracking</a></li>
                                        <li><a href="{{url_for('main.container_tracking')}}">Container Tracking</a></li>
                                        <li><a href="{{url_for('main.our_services')}}">Our Services</a></li>
                                        <li><a href="{{url_for('main.about_us')}}">About Us</a></li>
                                        <li><a href="{{url_for('main.contact_us')}}">Contact Us</a></li>

                                        {% elif title == 'Container Tracking' %}
                                        <li><a href="{{url_for('main.index')}}">Home</a></li>
                                        <li><a href="{{url_for('main.air_cargo_tracking')}}">Aircargo Tracking</a></li>
                                        <li class="active"><a href="{{url_for('main.container_tracking')}}">Container Tracking</a></li>
                                        <li><a href="{{url_for('main.our_services')}}">Our Services</a></li>
                                        <li><a href="{{url_for('main.about_us')}}">About Us</a></li>
                                        <li><a href="{{url_for('main.contact_us')}}">Contact Us</a></li>

                                        {% elif title == 'Contact Us' %}
                                        <li><a href="{{url_for('main.index')}}">Home</a></li>
                                        <li><a href="{{url_for('main.air_cargo_tracking')}}">Aircargo Tracking</a></li>
                                        <li><a href="{{url_for('main.container_tracking')}}">Container Tracking</a></li>
                                        <li><a href="{{url_for('main.our_services')}}">Our Services</a></li>
                                        <li><a href="{{url_for('main.about_us')}}">About Us</a></li>
                                        <li class="active"><a href="{{url_for('main.contact_us')}}">Contact Us</a></li>

                                        {% elif title == 'About Us' %}
                                        <li <a href="{{url_for('main.index')}}">Home</a>
                                        </li>
                                        <li><a href="{{url_for('main.air_cargo_tracking')}}">Aircargo Tracking</a></li>
                                        <li><a href="{{url_for('main.container_tracking')}}">Container Tracking</a></li>
                                        <li><a href="{{url_for('main.our_services')}}">Our Services</a></li>
                                        <li class="active"><a href="{{url_for('main.about_us')}}">About Us</a></li>
                                        <li><a href="{{url_for('main.contact_us')}}">Contact Us</a></li>

                                        {% elif title == 'Login' %}
                                        <li><a href="{{url_for('main.index')}}">Home</a></li>
                                        <li><a href="{{url_for('main.air_cargo_tracking')}}">Aircargo Tracking</a></li>
                                        <li><a href="{{url_for('main.container_tracking')}}">Container Tracking</a></li>
                                        <li><a href="{{url_for('main.our_services')}}">Our Services</a></li>
                                        <li><a href="{{url_for('main.about_us')}}">About Us</a></li>
                                        <li><a href="{{url_for('main.contact_us')}}">Contact Us</a></li>

                                        {% elif title == 'Our Services' or "Aircargo Services" or "Container Services" or "Parcel Services" or "Security Guard Services" or "Logistics Services" or "Bullion Vault Services"%}
                                        <li><a href="{{url_for('main.index')}}">Home</a></li>
                                        <li><a href="{{url_for('main.air_cargo_tracking')}}">Aircargo Tracking</a></li>
                                        <li><a href="{{url_for('main.container_tracking')}}">Container Tracking</a></li>
                                        <li class="active"><a href="{{url_for('main.our_services')}}">Our Services</a></li>
                                        <li><a href="{{url_for('main.about_us')}}">About Us</a></li>
                                        <li><a href="{{url_for('main.contact_us')}}">Contact Us</a></li>

                                        {% endif %}


                                    </ul>
                                </nav>
                            </div>
                            <div class="header-search">
                                <a href="#" data-toggle="modal" data-target="#search-modal"><i class="flaticon-magnifying-glass"></i></a>
                            </div>
                            <!-- <div class="header-btn">
                                <a href="#" class="btn" data-toggle="modal" data-target="#exampleModalLong"><img src="img/icon/calculator-symbols.png" alt="icon">Get Fare Rate</a>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
                <!-- Modal Search -->
                <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form>
                                <input type="text" placeholder="Search here...">
                                <button><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content fare-rate-modal">
                            <ul class="nav nav-tabs setup-panel">
                                <li class="nav-item single-steps">
                                    <a class="nav-link btn-amber" href="#step-1">Select Your Destination</a>
                                </li>
                                <li class="nav-item single-steps">
                                    <a class="nav-link btn-blue-grey" href="#step-2">ITEMS TO BE SHIPPED</a>
                                </li>
                                <li class="nav-item single-steps">
                                    <a class="nav-link btn-blue-grey" href="#step-3">tracking information</a>
                                </li>
                            </ul>
                            <form action="#" method="post">
                                <div class="single-setup" id="step-1">
                                    <div class="fare-rate-tab-content">
                                        <div class="modal-shipping-info">
                                            <ul>
                                                <li>
                                                    <div class="shipping-step-count">
                                                        <h5>A</h5>
                                                    </div>
                                                    <div class="shipping-address-form">
                                                        <div class="shipping-country-box form-group">
                                                            <label for="from-country">from country</label>
                                                            <input type="text" required="required" id="from-country" placeholder="Select Your Destination">
                                                        </div>
                                                        <div class="shipping-address-box form-group">
                                                            <label for="from-country-location">add your location</label>
                                                            <input type="text" required="required" id="from-country-location" placeholder="Select Your Destination">
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="shipping-step-count">
                                                        <h5>B</h5>
                                                    </div>
                                                    <div class="shipping-address-form">
                                                        <div class="shipping-country-box form-group">
                                                            <label for="to-country">TO country</label>
                                                            <input type="text" required="required" id="to-country" placeholder="Select Your Destination">
                                                        </div>
                                                        <div class="shipping-address-box form-group">
                                                            <label for="to-country-location">add your location</label>
                                                            <input type="text" required="required" id="to-country-location" placeholder="Select Your Destination">
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="modal-shipping-more-list">
                                            <ul>
                                                <li><a href="#"><i class="flaticon-credit-card"></i> Don't have an account? No problem Pay by credit card or cash.</a></li>
                                                <li><a href="#"><i class="flaticon-sings"></i> Get a quick quote and start shipping</a></li>
                                                <li><a href="#"><i class="flaticon-track"></i> Consult your packaging and delivery options</a></li>
                                            </ul>
                                        </div>
                                        <button class="btn f-right nextBtn-2 btn-success" type="button">one more step</button>
                                    </div>
                                </div>
                                <div class="single-setup" id="step-2">
                                    <div class="fare-rate-tab-content">
                                        <div class="modal-shipping-details">
                                            <div class="modal-shipping-title">
                                                <h2>items <span>details</span></h2>
                                                <h2 class="f-right">total cost : <span>$ 19.00</span></h2>
                                            </div>
                                            <div class="shipping-details-info">
                                                <div class="single-shipping-details-box">
                                                    <label for="packaging-size">packaging size</label>
                                                    <select class="custom-select" id="packaging-size">
                                                            <option selected="">Standart Size ( 42” x 36” )</option>
                                                            <option>Standart Size ( 82” x 86” )</option>
                                                            <option>Standart Size ( 102” x 165” )</option>
                                                            <option>Standart Size ( 110” x 205” )</option>
                                                            <option>Standart Size ( 120” x 250” )</option>
                                                        </select>
                                                </div>
                                                <div class="single-shipping-details-box shipping-qty">
                                                    <label for="QTY-number">QTY</label>
                                                    <input type="number" value="1" id="QTY-number" required="required">
                                                </div>
                                                <div class="single-shipping-details-box shipping-weight">
                                                    <label for="packaging-weight">TOTAL WEIGHT</label>
                                                    <select class="custom-select" id="packaging-weight">
                                                            <option selected="">KG</option>
                                                            <option>20KG</option>
                                                            <option>30KG</option>
                                                            <option>50KG</option>
                                                            <option>80KG</option>
                                                            <option>100KG</option>
                                                        </select>
                                                </div>
                                                <div class="single-shipping-details-box shipping-transport">
                                                    <label for="cargo-transport">cargo transport</label>
                                                    <select class="custom-select" id="cargo-transport">
                                                            <option selected="">IN</option>
                                                            <option>1500in</option>
                                                            <option>2000in</option>
                                                            <option>2500in</option>
                                                            <option>3000in</option>
                                                            <option>3500in</option>
                                                            <option>4000in</option>
                                                        </select>
                                                </div>
                                                <div class="single-shipping-details-box shipping-product">
                                                    <label for="product-category">product category</label>
                                                    <select class="custom-select" id="product-category">
                                                            <option selected="">Glass Product</option>
                                                            <option>Glass Product</option>
                                                            <option>Glass Product</option>
                                                            <option>Glass Product</option>
                                                            <option>Glass Product</option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" required="required" class="custom-control-input" id="customControlInline">
                                                <label class="custom-control-label" for="customControlInline">Logistics is generally the detailed organization and implementation of a complex operation. In a general business sense, logistics is the management of the flow of things between the point of origin and the point</label>
                                            </div>
                                        </div>
                                        <button class="btn f-left prevBtn-2 btn-success" type="button">Previous</button>
                                        <button class="btn f-right nextBtn-2 btn-success" type="button"><span>$19.00</span> Booking</button>
                                    </div>
                                </div>
                                <div class="single-setup" id="step-3">
                                    <div class="fare-rate-tab-content">
                                        <div class="modal-shipping-details">
                                            <div class="modal-shipping-title">
                                                <h2>tracking <span>information</span></h2>
                                            </div>
                                            <div class="f-left pr-20">
                                                <div class="shipping-details-info shipping-tracking-info">
                                                    <div class="modal-tracking-info">
                                                        <label for="invoice-id">invoice Id</label>
                                                        <input type="text" id="invoice-id" placeholder="Enter Your Id">
                                                    </div>
                                                    <div class="modal-tracking-info">
                                                        <label>Search invoice</label>
                                                        <button class="btn nextBtn-2 btn-success">find your product</button>
                                                    </div>
                                                </div>
                                                <div class="tracking-quots-board">
                                                    <label>your happiness quotes</label>
                                                    <div class="tracking-quots-board-info">
                                                        <img src="img/bg/board_bg.jpg" alt="img">
                                                        <h5>On Board Your Products. Now Product is Malaysia Ocean</h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tracking-modal-map">
                                                <div id="contact-map"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-start-end -->


    {% block content %} {% endblock %}


    <!-- footer -->
    <footer>
        <div class="footer-wrap pt-190 pb-40" data-background="{{url_for('static',filename='img/bg/footer_bg.jpg')}}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-widget mb-50">
                            <div class="footer-logo mb-35">
                                <a href="index.html"><img src="{{url_for('static',filename='img/Noble-Shipping-logo-white.png')}}" alt="img" style="width:200px;"></a>
                            </div>
                            <div class="footer-text">
                                <p>
                                    Established with a commitment to excellence, our company specializes in Container Cargo, Air Cargo, Parcel Delivery, and Security Services.
                                </p>
                            </div>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-widget mb-50">
                            <div class="fw-title mb-30">
                                <h5>SECURITY SERVICES</h5>
                            </div>
                            <div class="fw-link">
                                <ul>
                                    <li><a href="#"><i class="fas fa-caret-right"></i>Provision of Security guard </a></li>
                                    <li><a href="#"><i class="fas fa-caret-right"></i> Safekeeping of goods & logistics</a></li>
                                    <li><a href="#"><i class="fas fa-caret-right"></i> Provision of bullion Vault</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-widget mb-50">
                            <div class="fw-title mb-30">
                                <h5>USEFUL LINKS</h5>
                            </div>
                            <div class="fw-link">
                                <ul>
                                    <li><a href="#"><i class="fas fa-caret-right"></i> About us</a></li>
                                    <li><a href="#"><i class="fas fa-caret-right"></i> Our Services</a></li>
                                    <li><a href="#"><i class="fas fa-caret-right"></i> Aircargo Tracking</a></li>
                                    <li><a href="#"><i class="fas fa-caret-right"></i> Container Tracking</a></li>
                                    <li><a href="#"><i class="fas fa-caret-right"></i> Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-widget mb-50">
                            <div class="fw-title mb-30">
                                <h5>Address / Contact</h5>
                            </div>
                            <div class="f-support-content">
                                <p>
                                    Head Office: ELWA Paynesville City, Liberia West Africa
                                </p>
                                <p>
                                    Telephone: +231-770-961-810 <br> Email: info@nobleshipping.com
                                </p>
                                <a href="#" class="f-download-btn"><img src="{{url_for('static',filename='img/Google_Play_Store_badge_EN.svg')}}" alt="img" style="width: 140px !important;"></a>
                                <a href="#" class="f-download-btn"><img src="{{url_for('static',filename='img/badge-pre-order-on-the-app-store.svg')}}" alt="img" style="width: 140px !important;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="copyright-text text-center">
                    <p>Copyright© <span>Noble Shipping Company </span> | All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-end -->




    <!-- JS here -->
    <script data-cfasync="false" src="{{url_for('static',filename='Scripts/email-decode.min.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/jquery-1-12-4/jquery-1.12.4.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/popper/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/bootstrap/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/isotope/isotope.pkgd.min.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/slick/slick.min.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/jquery-meanmenu/jquery.meanmenu.min.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/ajax-form/ajax-form.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/wow/wow.min.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/aos/aos.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/paroller/paroller.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/jquery-waypoints/jquery.waypoints.min.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/jquery-counterup/jquery.counterup.min.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/jquery-nice-select/jquery.nice-select.min.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/jquery-scrollUp/jquery.scrollUp.min.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/imagesloaded/imagesloaded.pkgd.min.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/jquery-magnific-popup/jquery.magnific-popup.min.js')}}"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo_pcAdFNbTDCAvMwAD19oRTuEmb9M50c"></script> -->
    <script src="{{url_for('static',filename='Scripts/plugins/plugins.js')}}"></script>
    <script src="{{url_for('static',filename='Scripts/main/main.js')}}"></script>
</body>

</html>