{% extends "main/main_layout.html" %} {% block content %}
<!-- main-area -->
<main>

    <style>
        .li-styles {
            background-color: white !important;
        }
        
        .services-blockquote {
            background: #fff !important;
        }
    </style>

    <!-- services-details -->
    <div class="services-details-area pt-120 pb-115" style="background-color: ghostwhite !important;">
        <div class="container">
            <div class="services-details-wrap">
                <div class="row">
                    <div class="col-lg-4 order-2 order-lg-0">
                        <aside class="services-sidebar">
                            <div class="services-widget mb-40">
                                <div class="service-widget-title">
                                    <h3>Service Category</h3>
                                </div>
                                <div class="service-cat-list">
                                    <ul>
                                        <li class="li-styles"><a href="{{url_for('main.all_service')}}">All Services</a></li>
                                        <li class="active li-styles"><a href="{{url_for('main.services_aircargo')}}">AirCargo Tracking</a></li>
                                        <li class="li-styles"><a href="{{url_for('main.services_container')}}">Container Tracking</a></li>
                                        <li class="li-styles"><a href="{{url_for('main.services_parcel')}}">Parcel Tracking</a></li>
                                        <li class="li-styles"><a href="{{url_for('main.services_security_guard')}}">Provision of Security guard</a></li>
                                        <li class="li-styles"><a href="{{url_for('main.services_goods_logistics')}}">Safekeeping of goods & logistics</a></li>
                                        <li class="li-styles"><a href="{{url_for('main.services_bullion_vault')}}">Provision of bullion Vault</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="services-widget mb-40">
                                <div class="service-doc-list">
                                    <ul>
                                        <li><a href="#">Noble Shipping Company Listing <i class="fas fa-file-pdf"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="services-widget mb-40">
                                <div class="service-sidebar-support">
                                    <h3>Need Support?</h3>
                                    <p>Express delivery is an innovative service is effective logies</p>
                                    <a href="#" class="btn">contact Us</a>
                                </div>
                            </div>
                            <div class="services-widget">
                                <div class="service-widget-title dark-bg">
                                    <h3>Tags Post</h3>
                                </div>
                                <div class="service-tag-list">
                                    <ul>
                                        <li class="li-styles"><a href="#">Aircargo Tracking</a></li>
                                        <li class="li-styles"><a href="#">Parcel Tracking</a></li>
                                        <li class="li-styles"><a href="#">Container Tracking</a></li>
                                        <li class="li-styles"><a href="#">Cargo Insurance</a></li>
                                        <li class="li-styles"><a href="#">Security Guard</a></li>
                                        <li class="li-styles"><a href="#">Goods and Logistics</a></li>
                                        <li class="li-styles"><a href="#">Bullion Vault</a></li>
                                        <li class="li-styles"><a href="#">Delivery</a></li>
                                        <li class="li-styles"><a href="#">Warehouse</a></li>
                                    </ul>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-8">
                        <div class="services-details-content">
                            <h4>Air Cargo Tracking</h4>
                            <p>Air cargo tracking is a service that allows customers to monitor the status and location of their shipments transported by air. This service is crucial for ensuring that goods reach their destination on time and in good condition.
                                The process involves several stages, including cargo acceptance, security screening, loading onto the aircraft, transit through various airports, and finally, delivery to the destination.</p>
                            <div class="services-details-img">
                                <img src="{{url_for('static',filename='/services/services-aircargo.jpg')}}" alt="img">
                            </div>
                            <h4>How It Works:</h4>

                            <div class="services-details-list">
                                <ul>
                                    <li><i class="fas fa-arrow-alt-circle-right"></i>Booking: Customers book air cargo services, providing details about the shipment, including weight, dimensions, and destination.</li>
                                    <li><i class="fas fa-arrow-alt-circle-right"></i>Tracking Number: Upon booking, a unique Air Waybill (AWB) number is generated, which acts as a tracking number for the shipment</li>
                                    <li><i class="fas fa-arrow-alt-circle-right"></i>Real-Time Updates: The AWB number can be used on the tracking website to receive real-time updates on the cargo’s status, including when it’s loaded, in transit, and delivered.</li>
                                    <li><i class="fas fa-arrow-alt-circle-right"></i>Notifications: Customers may receive notifications at key milestones, such as when the cargo departs or arrives at a specific location.</li>
                                </ul>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- services-details-end -->


</main>
<!-- main-area-end -->
{% endblock content %}