.yellow-tbg {
    background-color: #ffcb00 !important;
    font-weight: bold !important;
}

.green-tbg {
    background-color: #23c53d !important;
    font-weight: bold !important;
    color: cornsilk !important;
}

.gray-tbg {
    background-color: #cccbc9 !important;
    font-weight: bold !important;
}

td {
    font-size: 14px !important;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #8244f0;
    --bs-btn-border-color: #8f61e1db;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #580ae1;
    --bs-btn-hover-border-color: #8f61e1db;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #580ae1;
    --bs-btn-active-border-color: #580ae1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

.active>.page-link,
.page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #8244f0;
    border-color: #8244f0;
}

.btn-edit {
    --bs-btn-color: #fff;
    --bs-btn-bg: #7c43ea;
    --bs-btn-border-color: #8144f0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6722ec;
    --bs-btn-hover-border-color: #6722ec;
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #7c43ea;
    --bs-btn-active-border-color: #8144f0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #8144f0;
    --bs-btn-disabled-border-color: #8144f0;
}

.sidebar {
    background-color: #8244f0;
}

.sidebar-nav .nav-link.collapsed {
    color: #fff;
    background: #8244f0;
}

.sidebar-nav .nav-link.collapsed i {
    color: #fff;
}

.sidebar-nav .nav-link.collapsed i:hover {
    color: #fff;
}

.sidebar-nav .nav-link:hover {
    color: #fcfcff;
    background: #8244f0;
}

.sidebar-nav .nav-link i:hover {
    color: #fcfcff;
    background: #8244f0;
}

.sidebar-nav .nav-link.collapsed:hover {
    color: #fff;
    background: #8244f0;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
    color: #efeff6;
}

.sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    transition: 0.3;
    padding: 10px 0 10px 40px;
    transition: 0.3s;
}

.sidebar-nav .nav-link:hover {
    color: #4154f1;
    background: #f6f9ff;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}

.table> :not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: #ffffff;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.yellow-tbg {
    background-color: #ffcb00 !important;
    font-weight: bold !important;
}

.green-tbg {
    background-color: #23c53d !important;
    font-weight: bold !important;
    color: rgb(255, 255, 255) !important;
}

.gray-tbg {
    background-color: #cccbc9 !important;
    font-weight: bold !important;
}

.gallery-bg {
    background-image: url(../../../static/img/bg/fact_bg.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #f2f2f2;
}