{% extends "admin/admin_layout.html" %} {% block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1 class="d-lg-block d-sm-none d-none ">{{title}}</h1>
        <h1 class="d-sm-block d-lg-none">Noble Shipping Company</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">{{menu_item1}}</a></li>
                <li class="breadcrumb-item">{{menu_item2}}</li>
                <li class="breadcrumb-item active">{{menu_item3}}</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                         <h3 class="card-titl mt-4 mb-0">Account Password Reset</h3>
                        <p class="mb-0 pb-0">Reset Password for any account</p>
                        <hr class="mb-3 pb-3">
                        <form action="" method="post">
                            {{ResetMyPasswordForm.hidden_tag()}}
                            <div class="row">
                                <!--? EMAIL ADDRESS -->
                                <div class="row mb-3">
                                    {{ResetMyPasswordForm.email_addr.label(class="col-sm-3 col-form-label")}} 
                                    {% if ResetMyPasswordForm.email_addr.errors %} 
                                    <div class="col-sm-9">
                                        {{ResetMyPasswordForm.email_addr(class="form-control invalid-feedback", placeholder="...")}}
                                        <div class="invalid-feedback text-danger">
                                            {% for error in ResetMyPasswordForm.email_addr.errors %}
                                            <span>{{error}}</span> {% endfor %}
                                        </div> 
                                    </div>
                                    {% else %} 
                                    <div class="col-sm-9">
                                        {{ResetMyPasswordForm.email_addr(class="form-control ", placeholder="...")}}
                                    </div> 
                                    {% endif %}
                                </div>
                                

                                <!--? OLD PASSWORD -->
                                <div class="row mb-3">
                                    {{ResetMyPasswordForm.old_password.label(class="col-sm-3 col-form-label")}} 
                                    {% if ResetMyPasswordForm.old_password.errors %} 
                                    <div class="col-sm-9">
                                        {{ResetMyPasswordForm.old_password(class="form-control invalid-feedback", placeholder="...")}}
                                        <div class="invalid-feedback text-danger">
                                            {% for error in ResetMyPasswordForm.old_password.errors %}
                                            <span>{{error}}</span> {% endfor %}
                                        </div> 
                                    </div>
                                    {% else %} 
                                    <div class="col-sm-9">
                                        {{ResetMyPasswordForm.old_password(class="form-control ", placeholder="...")}}
                                    </div> 
                                    {% endif %}
                                </div>

                                <!--? PASSWORD ONE -->
                                <div class="row mb-3">
                                    {{ResetMyPasswordForm.password_one.label(class="col-sm-3 col-form-label")}} 
                                    {% if ResetMyPasswordForm.password_one.errors %} 
                                    <div class="col-sm-9">
                                        {{ResetMyPasswordForm.password_one(class="form-control invalid-feedback", placeholder="...")}}
                                        <div class="invalid-feedback text-danger">
                                            {% for error in ResetMyPasswordForm.password_one.errors %}
                                            <span>{{error}}</span> {% endfor %}
                                        </div> 
                                    </div>
                                    {% else %} 
                                    <div class="col-sm-9">
                                        {{ResetMyPasswordForm.password_one(class="form-control ", placeholder="...")}}
                                    </div> 
                                    {% endif %}
                                </div>


                                <!--? ECONFIRM PASSWORD -->
                                <div class="row mb-3">
                                    {{ResetMyPasswordForm.password_two.label(class="col-sm-3 col-form-label")}} 
                                    {% if ResetMyPasswordForm.password_two.errors %} 
                                    <div class="col-sm-9">
                                        {{ResetMyPasswordForm.password_two(class="form-control invalid-feedback", placeholder="...")}}
                                        <div class="invalid-feedback text-danger">
                                            {% for error in ResetMyPasswordForm.password_two.errors %}
                                            <span>{{error}}</span> {% endfor %}
                                        </div> 
                                    </div>
                                    {% else %} 
                                    <div class="col-sm-9">
                                        {{ResetMyPasswordForm.password_two(class="form-control ", placeholder="...")}}
                                    </div> 
                                    {% endif %}
                                </div>

                                <div class="text-left mt-0">
                                    <hr>
                                    <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
                                    <button type="reset" class="btn btn-danger btn-lg">Clear Form</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                

            </div>
        </div>
    </section>

</main>
<!-- End #main -->
{% endblock content %}